.d-flex {
    display: flex;
}

body {
    background-image: -webkit-linear-gradient(180deg, rgba(228, 242, 255, 1) 0%, rgba(233, 218, 204, 1) 100%);
    background-image: -khtml-linear-gradient(180deg, rgba(228, 242, 255, 1) 0%, rgba(233, 218, 204, 1) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(228, 242, 255, 1) 0%, rgba(233, 218, 204, 1) 100%);
    background-image: -ms-linear-gradient(180deg, rgba(228, 242, 255, 1) 0%, rgba(233, 218, 204, 1) 100%);
    background-image: -o-linear-gradient(180deg, rgba(228, 242, 255, 1) 0%, rgba(233, 218, 204, 1) 100%);
    background-image: linear-gradient(180deg, rgba(228, 242, 255, 1) 0%, rgba(233, 218, 204, 1) 100%);
    /* background: linear-gradient(180deg, rgba(228, 242, 255, 1) 0%, rgba(233, 218, 204, 1) 100%); */
    font-family: "Montserrat", sans-serif;
    background-repeat: no-repeat;
    height: auto;
    /* min-height: 100vh; */
}





.container {
    max-width: 1300px;
    margin: 0 auto;
}

.catalog-viewport {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0);
    z-index: 33;
    pointer-events: none;
    transition: .3s;
}

.catalog-viewport__active {
    background: rgba(0, 0, 0, 0.9);
    pointer-events: auto;
    transition: .3s;
}

.catalog-viewport__inner__active {
    transition: .3s;
    margin-left: 0 !important;
}

.catalog-viewport__inner {
    width: 35%;
    padding: 36px;
    background: #fff;
    height: 100%;
    min-height: 100vh;
    margin-left: -100%;
    transition: .3s;
}

.catalog-viewport__inner__header {
    justify-content: space-between;
    align-items: center;
}

.catalog-viewport__inner__header h3 {
    font-weight: bold;
    font-size: 32px;
    color: #FF670D;
}

.catalog-viewport__inner header {
    margin-bottom: 25px;
}

.catalog-viewport__inner__header i {
    font-size: 22px;
    cursor: pointer;
}

.dropdawn {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.dropdawn_list>a {
    font-weight: 400;
    font-size: 14px;
    padding-top: 15px;
}

.catalog-viewport__inner ul {
    margin-top: 20px;
}

.catalog-viewport__inner>nav {
    padding-bottom: 20px;
}

.dropdawn_list li {
    margin: 15px 0px;
}

.dropdawn_list li a {
    color: #000;
    transition: .3s;
    font-weight: 400;
}

.dropdawn_list li a:hover {
    padding-left: 12px;
    color: #823E13;
}

.catalog-viewport__inner>a {
    font-weight: bold;
    color: #FF670D;
}

.dropdawn_list {
    display: none;
}

.dropdawn_list_active {
    display: block;
}

.dropdawn {
    border-bottom: solid 2px #f6f6f6;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    cursor: pointer;
}

.dropdawn.active {
    color: #8B4513;
    font-weight: bold;
}

.dropdawn i {
    margin-top: 15px;
    position: absolute;
    right: 5px;
    top: 0%;
    transition: transform 0.3s;
}

.dropdawn.active i {
    transform: rotate(180deg);
    top: 0%;
}



/* Header */

.top-bar {
    background-color: #0063E5;

}

.top-bar_container {
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo_header {
    max-width: 139px;
    margin: 1px 22px;
    border-radius: 24px;
}

.top-left nav ul {
    list-style: none;
    text-decoration: none;
    gap: 30px;
}

.top-left nav ul a {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.top-left nav {
    align-items: center;
}

.top-right {
    align-items: center;
    gap: 17px;
    padding-right: 22px;
}

.top-right a {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
}

.top-right img {
    height: 35px;
}

.top-right a:nth-child(2) img {
    height: 35px;
    width: 35px;
}

/* < !-- Main Navigation -->  */

.main_nav {
    background-color: #FFF5F5;
}

.main_nav_container {
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.main_nav_container>div>button {
    background-color: #FF670D;
    width: 230px;
    height: 50px;
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    align-items: center;
    justify-content: space-around;
}

.main_nav_container>div>button:hover {
    opacity: 0.7;
    transition: .3s;
}

a:hover {
    opacity: 0.7;
    transition: .3s;
}

.search-box {
    align-items: center;
}

.search-box input {
    width: 750px;
    position: relative;
    background: #fff;
    margin: 8px;
    padding: 8px;
}

/* .main_nav_container div:nth-child(3) {
    gap: 5px;
} */

.main_nav_container div:nth-child(3) a {
    padding: 10px 0;
}

.main_nav_container img {
    width: 35px;
    height: 35px;

}

.main_nav_container div:nth-child(3) {
    gap: 10px;
}

.wrapper {
    height: auto;
    width: 100%;
}

.slider {
    width: 100%;
    height: 550px;
    position: relative;
    padding: 0 50px;
}

.slider_item {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.slider_item img {
    height: 100%;
    object-fit: cover;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
    margin: -40px 0 0 0;
}

.slider_item {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.slider_item>img {
    height: 440px;
    object-fit: cover;
}


.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../icons/left.svg') 0 0 /100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../icons/right.svg') 0 0 /100% no-repeat;
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    margin: 0 10px;
}

/* Активна точка */

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #FF670D;

}

/* Елемент точки */

.slider .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #FFF5F5;
    border-radius: 50%;
}

.slider .slick-dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

/* Section1_icons */

.Section1_icons div span {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #716A97;
}

.Section1_icons {
    gap: 20px;
    padding: 30px 0;
}

.Section1_icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section1_icons div img {
    max-width: 100px;

}















































































@media (max-width: 480px) {

    .logo_header {
        max-width: 69px !important;
        margin: 1px 10px !important;
        border-radius: 20px !important;
    }

    .top-left nav {
        display: none;
    }

    .top-right a:nth-child(2) img {
        height: 30px;
        width: 30px;
    }

    .top-right img {
        height: 30px;
    }

    .top-right {
        gap: 12px;
        padding-right: 10px;
    }

    .slider {
        height: 180px !important;
        width: 100%;
        padding: 0;
    }

    .slider_item>img {
        /* height: 110px !important; */
        height: auto;
        width: 100%;
    }

    .slick-list {
        height: auto;
        width: 100% !important;
    }

    .slick-track {
        height: 170px !important;
    }

    .slider .slick-arrow {
        width: 30px;
    }

    .slider .slick-arrow.slick-next {
        display: none !important;
    }

    .slider .slick-arrow.slick-prev {
        display: none !important;
    }



    .slider .slick-dots li {
        margin: 0 5px;
    }

    .slider .slick-dots li button {
        width: 6px;
        height: 6px;
    }
}



@media (max-width: 768px) {

    /* планшети */
    .catalog-viewport__inner {
        width: 90%;
    }

    .main_nav_container {
        padding: 0px 12px;
    }

    .top-right a:nth-child(1) {
        display: none;
    }

    .logo_header {
        max-width: 89px;
        margin: 1px 10px;
        border-radius: 20px;
    }

    .top-left nav ul {
        gap: 10px;
    }

    .top-left nav ul a {
        font-size: 14px;
    }

    .search-box input {
        width: 212px !important;
    }

    .main_nav_container img {
        width: 35px;
        height: 35px;
    }

    .main_nav_container>div>button {
        font-size: 0;
        width: 50px;
        justify-content: center;
    }


    .slick-list {
        height: auto;
    }

    .slider {
        padding: 0 0;
    }

    .slick-track {
        height: 190px;
    }

    .slider_item>img {
        height: auto;
    }

    .main_nav_container>div>button {
        width: 35px !important;
        height: 35px;
    }

    .main_nav_container {
        gap: 10px;
    }

    .search-box ::placeholder {
        font-size: 14px;
    }

    .search-box span button img {
        width: 30px !important;
        height: 30px !important;
    }

    .slider .slick-arrow.slick-next {
        display: none !important;
    }

    .slider .slick-arrow.slick-prev {
        display: none !important;
    }

    .slider .slick-dots li {
        margin: 0 5px;
    }

    .slider .slick-dots li button {
        width: 6px;
        height: 6px;
    }

    .catalog-viewport__inner__header h3 {
        font-size: 25px;
    }

    .catalog-viewport__inner {
        padding: 25px;
    }

    .catalog-viewport__inner__header i {
        font-size: 25px;
    }

    .Section1_icons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Section1_icons div span {
        font-size: 18px;
        max-width: 150px;
    }

    .Section1_icons div img {
        max-width: 50px;
    }
}

@media (max-width: 1024px) {

    /* стандартні ноутбуки */
    .top-left nav ul {
        gap: 20px;
    }

    .top-right a {
        font-size: 18px;
    }

    .search-box input {
        width: 500px;
    }

    .main_nav_container img {
        width: 35px;
        height: 35px;
    }

    .main_nav_container>div>button {
        font-size: 0;
        width: 50px;
        justify-content: center;
    }

    .slick-list {
        height: auto;
    }

    .slider {
        height: 300px;

    }

    .slick-track {
        height: 300px;
    }

    .slider_item>img {
        height: auto;
    }

    .main_nav_container div:nth-child(3) a {
        padding: 5px 0;
    }
}